DATABASE_URL="postgres://Arsius:123456789@localhost:5432/pfoVector?sslmode=disable"

DB_USER=Arsius
DB_PASSWORD=123456789
DB_NAME=pfoVector
DB_PORT=5432
DB_HOST=localhost
JWT_SECRET="dev_secret_key_change_me"


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=your_password
REDIS_DB=0